Repository CSPC-BSCS-3B/CSAC_329_FINAL_PROJECT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainer, @e-ljay, @maicaaa14, @frankkss, @docs-team

Update requirements.txt
  requirements.txt
Owners: @frankkss

Refactor symmetric encryption module: replace cryptography library with PyCryptodome, enhance UI, and improve encryption/decryption functionality for AES, DES, and 3DES
  pages/🔏Symmetric_Algorithms.py
Owners: @project-maintainer

Fix output handling for file encryption: ensure output bytes and filename are set for AES, DES, and 3DES operations
  pages/🔏Symmetric_Algorithms.py
Owners: @project-maintainer

Add AES module for symmetric encryption and decryption
  pages/symmetric_algo/aes.py
Owners: @e-ljay

Implement symmetric encryption and decryption functionality with UI for AES, DES, and 3DES
  pages/symmetric_algo/aes.py
  pages/🔏Symmetric_Algorithms.py
Owners: @e-ljay, @project-maintainer

Refactor: Enhances UI and usability for symmetric crypto tool
  pages/🔏Symmetric_Algorithms.py
Owners: @project-maintainer

Refactor AES module: streamline input handling, enhance error messaging, and improve random key/IV generation
  pages/symmetric_algo/aes.py
Owners: @e-ljay

Refactor symmetric encryption module: unify encryption/decryption functions, enhance UI, and improve key handling for AES, DES, and 3DES
  pages/🔏Symmetric_Algorithms.py
Owners: @project-maintainer

Fix: Crypto module error. Refactor symmetric encryption UI: update session state initialization, enhance AES, DES, and 3DES tabs with key generation and processing functionality
  pages/🔏Symmetric_Algorithms.py
Owners: @project-maintainer

Implement AES, DES, and 3DES encryption and decryption functionality in the Crypto Playground
  pages/symmetric_algo/aes.py
Owners: @e-ljay

Remove unused AES module from symmetric algorithm
  pages/symmetric_algo/aes.py
Owners: @e-ljay

Update requirements.txt
  requirements.txt
Owners: @frankkss

Expand and enhance project documentation and examples
  README.md
Owners: @frankkss

Add project presentation video link to README
  README.md
Owners: @frankkss

.github/CODEOWNERS:

# CODEOWNERS file for Applied Cryptography Project
#
# This file defines the code owners for different parts of the repository.
# Code owners are automatically requested for review when someone opens a pull
# request that modifies code that they own.
#
# For more information about the CODEOWNERS file format, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# Replace these with actual GitHub usernames when you have specific maintainers
* @project-maintainer

# Cryptography implementation owners
/pages/symmetric_algo/ @e-ljay
/pages/asymmetric_algo/ @maicaaa14
/pages/hashing_functions/ @frankkss

# Documentation owners
*.md @docs-team
/README.md @frankkss
/CONTRIBUTING.md @frankkss
/CODE_OF_CONDUCT.md @frankkss


# Configuration files
*.yml @frankkss
*.yaml @frankkss
requirements.txt @frankkss
