Repository CSPC-BSCS-3B/CSAC_329_FINAL_PROJECT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainer, @e-ljay, @maicaaa14, @frankkss, @docs-team

Update Streamlit version requirement in requirements.txt to fix error in deploying in streamlit
  requirements.txt
Owners: @frankkss

Update requirements.txt to specify exact package versions for consistency
  requirements.txt
Owners: @frankkss

Delete LICENSE
  LICENSE
Owners: @project-maintainer

Update requirements.txt
  requirements.txt
Owners: @frankkss

Add RSA and ecc
  pages/asymmetric_algo/Ecc.py
  pages/asymmetric_algo/rsa.py
Owners: @maicaaa14

Add Diffie-Hellman and ECC implementations with key generation and shared secret computation
  pages/asymmetric_algo/Diffie-Hellman.py
  pages/asymmetric_algo/Ecc.py
  pages/asymmetric_algo/rsa.py
Owners: @maicaaa14

Add implementation of Digital Signature Algorithm with key pair generation and signing functionality
  pages/asymmetric_algo/Digital Signature Algorithm.py
Owners: @maicaaa14

Fix decorator for select_key_size function to use @st.fragment
  pages/asymmetric_algo/rsa.py
Owners: @maicaaa14

Add DSA implementation with key pair generation, signing, and verification functionality
  pages/asymmetric_algo/dsa.py
Owners: @maicaaa14

Implement key pair generation and signing functionality for DSA
  pages/asymmetric_algo/Digital Signature Algorithm.py
Owners: @maicaaa14

Add Diffie-Hellman key exchange implementation with parameter generation and shared secret computation
  pages/asymmetric_algo/dh.py
Owners: @maicaaa14

Remove individual RSA, ECC, and DSA algorithm pages
  pages/asymmetric_algo/Diffie-Hellman.py
  pages/asymmetric_algo/Ecc.py
  pages/asymmetric_algo/dh.py
  pages/asymmetric_algo/rsa.py
Owners: @maicaaa14

Add asymmetric cryptography implementation with RSA, ECC, and DSA key pair generation and signing functionality
  pages/asymmetric_algo/asymmetric.py
Owners: @maicaaa14

Update Streamlit version requirement in requirements.txt to fix error in deploying in streamlit
  requirements.txt
Owners: @frankkss

Updates member details and profile images
  🏠Home.py
Owners: @project-maintainer

Add Home.py with initial content for Applied Cryptography course
  Home.py
  🏠Home.py
Owners: @project-maintainer

Delete LICENSE
  LICENSE
Owners: @project-maintainer

Fix: Not Found on streamlit Moves hash functions module to follow the st.page_link documentation
  pages/hashing_functions.py
Owners: @project-maintainer

Adds team member profiles to the home page
  🏠Home.py
Owners: @project-maintainer

Fix structure of pages to follow the streamlit documentation. This Adds new pages for cryptographic algorithms
  pages/🔏Symmetric_Algorithms.py
  pages/🔐Asymmetric_Algorithms.py
  pages/🔑Hashing_Functions.py
Owners: @project-maintainer

Add comprehensive asymmetric cryptography functionality with RSA, ECC, and DSA key pair generation, signing, and verification features
  pages/🔐Asymmetric_Algorithms.py
Owners: @project-maintainer

Implement hashing functions with Streamlit UI for text and file inputs
  pages/hashing_functions/hash_functions.py
Owners: @frankkss

Improves homepage clarity and UI consistency
  🏠Home.py
Owners: @project-maintainer

Update requirements.txt to specify exact package versions for consistency
  requirements.txt
Owners: @frankkss

Update requirements.txt
  requirements.txt
Owners: @frankkss

Remove individual RSA, ECC, and DSA algorithm pages
  pages/asymmetric_algo/dsa.py
Owners: @maicaaa14

Update member images for improved profile accuracy
  🏠Home.py
Owners: @project-maintainer

Refines UI and adds navigation for cryptography app
  🏠Home.py
Owners: @project-maintainer

Adds multi-hash comparison tool and modern algorithms
  pages/hashing_functions/hash_functions.py
Owners: @frankkss

Improves Home tab layout and project description
  🏠Home.py
Owners: @project-maintainer

Remove asymmetric cryptography algorithm implementation from the project
  pages/asymmetric_algo/asymmetric.py
Owners: @maicaaa14

Update requirements.txt
  requirements.txt
Owners: @frankkss

Added Dev Container Folder
  .devcontainer/devcontainer.json
Owners: @project-maintainer

Update requirements.txt
  requirements.txt
Owners: @frankkss

Add detailed descriptions for RSA, ECC, and DSA algorithms in the interface
  pages/🔐Asymmetric_Algorithms.py
Owners: @project-maintainer

Update Streamlit version requirement in requirements.txt to fix error in deploying in streamlit
  requirements.txt
Owners: @frankkss

Update requirements.txt to specify exact package versions for consistency
  requirements.txt
Owners: @frankkss

Update requirements.txt
  requirements.txt
Owners: @frankkss

Update requirements.txt
  requirements.txt
Owners: @frankkss

Added Dev Container Folder
  .devcontainer/devcontainer.json
Owners: @project-maintainer

.github/CODEOWNERS:

# CODEOWNERS file for Applied Cryptography Project
#
# This file defines the code owners for different parts of the repository.
# Code owners are automatically requested for review when someone opens a pull
# request that modifies code that they own.
#
# For more information about the CODEOWNERS file format, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# Replace these with actual GitHub usernames when you have specific maintainers
* @project-maintainer

# Cryptography implementation owners
/pages/symmetric_algo/ @e-ljay
/pages/asymmetric_algo/ @maicaaa14
/pages/hashing_functions/ @frankkss

# Documentation owners
*.md @docs-team
/README.md @frankkss
/CONTRIBUTING.md @frankkss
/CODE_OF_CONDUCT.md @frankkss


# Configuration files
*.yml @frankkss
*.yaml @frankkss
requirements.txt @frankkss
